<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zbar.lib"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19"
        tools:overrideLibrary="com.google.android.gms.appindexing,com.google.android.gms.base,com.google.android.gms"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.hardware.sensor.accelerometer"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".guide.GuideMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".guide.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".app_web.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".camera_scan.QRScanActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".app_web.WebViewActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>

        <activity android:name=".app_web.UploadTeacherFacePic">

        </activity>
        <activity
            android:name=".app_web.ShowStudentClassWorkPic">

        </activity>
        <activity
            android:name=".camera_upload_pic.EditStudentClassWorkPicActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        </activity>
        <activity
            android:name=".app_main.SA_MainActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".app_web.ShakeActivity"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity android:name=".test.swipemenu_test.SwipeMenuTestMainActivity" >

        </activity>
        <activity android:name=".test.swipemenu_test.SwipeMenuAppManagerActivity" >
        </activity>
        <activity android:name=".test.swipemenu_test.SwipeMenuDifferentItemActivity" >
        </activity>
        <activity android:name=".app_web.CommentListActivity" >
        </activity>
        <activity android:name=".app_web.CommentEditActivity" >
        </activity>
        <activity android:name=".test.pickerview_test.PickerTestActivity" >
        </activity>
        <activity android:name=".app_web.WeatherActivity" >
        </activity>
        <activity
            android:name=".app_web.CheckHomeWorkActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".app_tools.AppAboutActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".app_web.ScoreShopEditActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".app_web.ScoreShopListActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
        App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>